<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketCim</title>
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#logout").click(function () {
                $.ajax({
                    url: '/Home/Logout/'
                })
            })
        })
    </script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0; background-color:#333">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/User/Index">
                    <!--  target="_blank" >>  yeni sayfada açar!  -->
                    TicketCim
                </a>
            </div>
            <span style="color:#efeaea;text-indent:10px;line-height:1.8">
                <br>
                &nbsp;&nbsp; Ticket sitemize hoşgeldiniz..
            </span>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="~/User/NewTicket/">
                            <i class="fa fa-th-large"></i>New Ticket
                        </a>
                    </li>
                    <li>
                        <a href="~/User/MyTickets/">
                            <i class="fa fa-th-large"></i>My Tickets
                        </a>
                    </li>
                    <li>
                        <a href="~/User/HesapAyarla/">
                            <i class="fa fa-th-large"></i>Hesap Ayarları
                        </a>
                    </li>
                    <li>
                        <div class="user-div">
                            <a href="/Home/Login" style="color:#28AB80; text-decoration:none; font-weight:900; font-size:18px;" id="logout">
                                <i class="fa fa-sign-out div-exchange" id="buttonMenu"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="page-wrapper-cls">
            @RenderBody()
        </div>
    </div>
    <footer>
        TicketCim &copy; 2016, ALL RIGHTS RESERVED
    </footer>
    <script src="~/Scripts/metisMenu.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>